[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true

[dev-packages]
bpython = "*"
django-debug-toolbar = "*"
django-extensions = "*"

[packages]
django = "*"
channels = "*"
django-extensions = "*"
channels-redis = "*"
djangorestframework = "*"
django-rest-swagger = "*"

[requires]
python_version = "3.8.1"
