{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>KANBAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {#  <link  rel=stylesheet href="{% static 'assets/css/app.css' %}">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.6.1/theme-chalk/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/simplex/bootstrap.min.css" />

</head>

<body style="height: 100%;">
<div id="app">
    <router-view/>
</div>
{# npm run build #}
{#  <script src="{% static 'assets/js/app.js' %}"></script>#}
{#  <script src="{% static 'assets/js/chunk-vendors.js' %}"></script>#}

{# npm run build-watch#}
<script src="{% static 'assets/app.js' %}"></script>

{#阻止某些浏览器在卡片drop的时候， 打开新的标签页#}
<script>
    document.body.ondrop = function (event) {
        event.preventDefault();
        event.stopPropagation();
    }
</script>
</body>
</html>